
div.tudo{
    background: #EEEEE0;
    text-align: center;
}
html{
    background: #EEEEE0;
    overflow-y: scroll;
}
.none{
  display: none !important;
}
div.img {
    text-align: center;
    background: #EEEEE0;
    margin: 15px;
}
div.bg{
    background: #EEEEE0;
}
h2{
  display: inline-block;
}
h2 i:first-child{
  margin-left: 15px;
}

form.novalinha{
  display: inline-flex;
}
div.all{
  background: #EEEEE0;
  padding-top: 50px;
  width: 520px;
  display: table;
  margin: 0 auto;
}
div.blank-space{
  height: 80px;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 6px;
}
h2{
  text-align: center;
}
div.select-linhas select{
  height: 46px;
  vertical-align: middle;
  font-size: 22px;
  width: 400px;
  padding-left: 5px;
}
div.select-linhas button{
    color: white;
    background: #8B7D6B;
}

div.radio-dias{
  display: inline-flex;
  padding-left: 4px;
}
div.radio-dias label{
  padding: 0 90px 0 2px;
}
div.dias{
  width: 100%;
  text-align: left;
}
div.dias input[type="radio"]{
  display: none;
}
div.dias label{
  margin: 0 2px;
}
div.dias label:hover{
  background-color: #8B7D6B;
  color: white;
  font-weight: bold;
}
div.horario{
  text-align: center;
  width: 100%;
  display: inline-flex;
}
div.horario i{
  font-size: 15px;
  color: darkblue;
  margin: 0 1px;

}
div.horario i.accessible{
  margin: 0 6px;
}
div.box{
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

div.dia:target {
  display: block;
}

.chkbox1:checked ~ div.horario div.box#chkbox1,
  .chkbox2:checked ~ div.horario div.box#chkbox2,
    .chkbox3:checked ~ div.horario div.box#chkbox3{
  display: block !important;
}
.chkbox1:checked + label,.chkbox2:checked + label,.chkbox3:checked + label{
  background-color: #8B7D6B;
  color: white;
  font-weight: bold;
}
.chkbox1,.chkbox2,.chkbox3{
  background-color: #aaa;
  color: black;
  font-weight: normal;
}
div.turnos{
  width: 100%;
  display: inline-flex;
}
div.manha{
  background-color: #DCDCDC;
}
div.tarde{
  background-color: #CDCDC1;
}
div.noite{
  background-color: #8B8B83;
}
div.manha, div.tarde, div.noite{
  width: 33.333%;
  display: block;
}
div.manha::before{
  content: "Manhã\A";
  white-space: pre;
}
div.tarde::before{
  content: "Tarde\A";
  white-space: pre;
}
.textos{
text-align: left;
font-weight: bold;
color: #8B7D7B;

}
div.noite::before{
  content: 'Noite\A';
  white-space: pre;
}
.nomelinha{
  display: inline-block;
  text-align: center;
}
.panel-heading {
    padding: 1%;
    height: 57px;
}
.nomelinha h2{
  float: left;
  margin: 0 auto 15px 10px;
}
.nomelinha a:first-child{
  margin-left: 15px;
}
.nomelinha i{
  font-size: 22px;
}
.mr-15{
  margin-right: 15px;
}
.table tr td:first-child{
  width: 20%;
}
.table tr td{
  padding: 8px 0 0 10px;
  background-color: #D6D6D6;
}
p{
  margin: 0;
}
input{
  color: black;
}
.nsize{
  font-size: 16px !important;
}
table.table tr:first-child{
  font-weight: bold;
}
